{% extends "base.html" %}

{% block title%} 
Payra Golf Club
{% endblock %}

{% block content%} 

    <!-- About Start -->
    <div class="container-fluid py-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 card-elm">
                    <div class="section-title mb-4 one" style="margin-top: 10px;">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">KNOW ABOUT PGCC</h5>
                        <h1 class="display-5 mb-0">PAYRA GOLF AND COUNTRY CLUB (PGCC)</h1>
                    </div>
                   
                    <p class="mb-4 one" style="text-align:justify">
                        Golf has grown to be a prestigious and traditional event in our organizational culture since it began its journey in Kurmitola Golf Club, Dhaka. In pursuit of upholding this tradition, Payra Golf and Country Club (PGCC) stepped out in December 2021 with the initiative of the then GOC, 7 Infantry Division and Area Commander, Barisal Area, Major General Khan Firoz Ahmed, ndc, afwc, psc. As time passed, so passed its difficult days of foundation. Today PGCC has reached to a remarkable standard in the family of Golf Clubs of Bangladesh. Since then, all the GOC's and many officers serving in various headquarters and units have given their efforts in keeping the PGCC growing step by step.
                    </p>
                    <h1></h1>
                    <p class="mb-4" style="text-align:justify">
                        At present with the initiative of present GOC. 7 Infantry Division and President, PGCC, Major General Abdul Quayyum Mollah, rcds, ndc, psc a multi-dimensional effort is taken to develop the present course into a more challenging & interesting both from playing and safety point of view. Presently development of the club area is planned with the assistance of individuals and organizations both from inside and outside. With the initiative of present President, all are currently working for shaping up today's PGCC, to make it anexcellent golfing course in this region.
                    </p>
                     <div class="row g-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>36 Acres of Land</h5>
                            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>9-Hole Golf Course</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>36 par covering</h5>
                            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Recognized member of BGF</h5>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}