{% extends "base.html" %}

{% block title%}
Payra Golf Club
{% endblock %}



{% block content%}
<div class="container one card-elm" style="margin: auto; width: 80vw;">
    <h1 style="margin-top: 20px;">CADDIE FACILITY</h1>
    <div class="row">
        <div class="col-sm-12 " data-wow-delay="0.3s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Raise the standard of caddies through training and examinations</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle text-secondary me-3"></i>Caddies regularly repair divots 	and pitch marks green and on the fairways and repair bunker</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle me-3" style="color: greenyellow"></i>Caddies are treated with dignity by the members</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle me-3" style="color:goldenrod"></i>Caddies in turn are to abide by the discipline and rules set out for them</h5>
           
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-sm-12 col-md-6 col-lg-6 gallery-col" >
            <img src="https://lh3.googleusercontent.com/pw/AMWts8C-7D7ujLOBewCywA-vRShRjxNzCFLeVqj6ZDAE4KhwROXFOv0570VvHhJYLdmEVMKCMszqp-OSx2_cfyzi2EDfASb9tZLW6bMjr_vFKyGOYDEDR8kWJqnk_JsJR6zlRZem-pd2OTyVMOlURVdtPkZc=w984-h656-no?authuser=0" 
            alt="Loading Image" style="height: 300px;width: 400px; border: solid wheat 5px; margin:auto;">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 gallery-col"  style="margin-bottom: 5px;">
            <img src="https://lh3.googleusercontent.com/pw/AMWts8CLggRioyvkTAkUJFKp3Juio9hovaxRnzIBpEr_Lw-QBsE8avs5BMGvYpoD_273IqEwsENTpXV-sCTqjSUOusopCeaS7cpZ9FFPufxG4CC22fr6vKbOkukSmyrNq8inY6TIMii36x5ZdFVYuTQCiVBC=w984-h656-no?authuser=0" 
            alt="Loading Image" style="height: 300px;width: 400px; border: solid wheat 5px; margin-bottom: 10px;">
        </div>
    </div>
</div>

<div style="height: 5px; margin-bottom: 5px;">
</div>

{% endblock %}