{% extends "base.html" %}

{% block title%}
Payra Golf Club
{% endblock %}



{% block content%}



    <!-- Team Start -->
    <div class="committee-div">
    <div class="container-fluid py-5 " style="margin: auto; width: 90vw;">
        <div class="container">
            <div class="row g-5">
                <div class="col-sm-12 col-md-4 col-lg-3" >
                    <div class="section-title bg-light rounded h-100 p-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase" style="font-size: small;">Our Committee</h5>
                        <h1 class="display-6 mb-4" style="font-size: xx-large;">Meet Our Executive Committee</h1>
                    </div>
                </div>

                {% for  item in myList %}
                
                {% set photolink = item["Photo"] %}
               
                <div class="col-sm-12 col-md-4 col-lg-3 d-flex align-items-stretch" >
                    <div class="card exec_committee  w-100">
                        {% if photolink is not string %}
                        
                        <img src="{{url_for('static',filename='img/error-person.png')}}" class="card-img-top" alt="">
                        {% else %}
                        <img src="{{photolink}}" class="card-img-top" alt="">
                        {% endif %}
                        <div class="card-body">
                          <h5 class="card-title">{{item["Appt"]}}</h5>
                          <p class="card-text h6">{{item["Name"]}}</p>
                          <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                          <a class="btn btn-warning btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                          <a class="btn btn-danger btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                      </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

</div>


    
{% endblock %}