{% extends "base.html" %}

{% block title%}
Payra Golf Club
{% endblock %}



{% block content%}
<div class="container one card-elm" style="margin: auto; width: 80vw;">
    <h1 style="margin-top: 20px;">DRIVING FACILITY</h1>
    <div class="row">
        <div class="col-sm-12 " data-wow-delay="0.3s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Available Driving Range</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle text-secondary me-3"></i>Adequate Driving Facility</h5>
        
            <h5 class="mb-3"><i class="fa fa-check-circle text-dark me-3"></i>Learner golfers will also be allowed to use the main course after prior permission of the Golf Captain</h5>
           
        </div>
    </div>

    <div class="row" style="margin: 10px;">
        <div class="col-sm-12 col-md-6 col-lg-6 gallery-col" >
            <img src="https://lh3.googleusercontent.com/pw/AMWts8AZbfj2hB8KiD2GxPs_pLm_oi-F0S6PzUm9JW31KcuENU4eN035mCZH_Q7uKJmVlAOWsh0WdOERkWECFxWzPn1DzJzFtb0ytkLZtRY9rwtU5AFWCngxx9cYQMCetqXm7Az2F3rYR7nU5pR4XvVZpfHi=w984-h656-no?authuser=0" 
            alt="Loading Image" style="height: 300px;width: 400px; border: solid wheat 5px; margin:auto;">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 gallery-col"  style="margin-bottom: 5px;">
            <img src="https://lh3.googleusercontent.com/pw/AMWts8D8A5wBFL4gu0WRDqKqowM9OfdxhVeapNmR2_Uo-mRySsifk94y-u6mUyjnoYDbYhFOMDzVBRFHhzLLXSGFw5NV8OuoNGon7vtHkeMw5FymPdQwlD0Q3nh1VssQFBu2tZjfnTkTZ09kbUMzGgPe-xom=w984-h656-no?authuser=0" 
            alt="Loading Image" style="height: 300px;width: 400px; border: solid wheat 5px; margin-bottom: 10px;">
        </div>
    </div>

        
    
</div>

{% endblock %}