{% extends "base.html" %}

{% block title%}
Payra Golf Club
{% endblock %}



{% block content%}
<div class="container one card-elm" style="margin: auto; width: 80vw;">
    <h1 style="margin-top: 20px;">GUEST ROOM</h1>
    <div class="row">
        <div class="col-sm-6 " data-wow-delay="0.3s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-dark me-3"></i>6 COTTAGE</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>WELL DECORATED ROOM</h5>
        </div>
        <div class="col-sm-6 " data-wow-delay="0.6s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-secondary me-3"></i>24/7 SERVICES</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle text-dark me-3"></i>RIVERSIDE VIEW</h5>
        </div>
        <div class="col-sm-6 " data-wow-delay="0.3s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-dark me-3"></i>3 BED ROOM PER COTTAGE</h5>
            <h5 class="mb-3"><i class="fa fa-phone-square text-secondary me-3"></i>For Details: 01769-072184</h5>

        </div>
        <div class="col-sm-6 " data-wow-delay="0.6s">
            <h5 class="mb-3"><i class="fa fa-bookmark text-primary me-3"></i>For Booking: 01769072072</h5>

        </div>
    </div>

    <div class="row" style="margin: 10px;">
        {% for x in room_img%}
        {% set photo_link = x["Photo Link"] %}
        <div class="col-sm-12 col-md-6 col-lg-6 gallery-col" style="margin-bottom: 5px;" >
            <img src="{{photo_link}}" alt="Loading Image" style="height: 300px;width: 400px; border: solid wheat 5px; margin:auto;">
        </div>
        {% endfor %}
    </div>

        
    
</div>

{% endblock %}