{% extends "base.html" %}

{% block title%}
Payra Golf Club
{% endblock %}



{% block content%}
<div class="container one card-elm" style="margin: auto; width: 80vw;">
    <h1 style="margin-top: 20px;">FOUNDING MEMBER OF PGCC</h1>
    <table class="table cell-border table-sm" id="datatable"  style="width: 100%;">
        <thead>
            <tr style="background-color: #091E3E; color: whitesmoke;">

                <th>Ser</th>
                <th>Name</th>
                <th>Appt</th>

            </tr>
        </thead>
        <tbody style="color: black;">
            {% for x in memberList %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ x["Name"] }}</td>
                <td>{{ x["Appt"] }}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="height: 5px; margin-bottom: 5px;">
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-sm-12 col-md-6 col-lg-6 gallery-col" >
            <img src="{{url_for('static',filename='img/shoptok.JPG')}}" alt="Loading Image" style="height: 300px;width: 400px; border: solid wheat 5px; margin:auto;">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 gallery-col"  style="margin-bottom: 5px;">
            <img src="{{url_for('static',filename='img/golf_grd.JPG')}}" alt="Loading Image" style="height: 300px;width: 400px; border: solid wheat 5px; margin-bottom: 10px;">
        </div>
    </div>
</div>

{% endblock %}