{% extends "base.html" %}

{% block title%}
Payra Golf Club
{% endblock %}



{% block content%}
<div class="container one card-elm" style="margin: auto; width: 80vw;">
    <h1 style="margin-top: 20px;">SWIMMINGPOOL SCHEDULE</h1>
    <table class="table  cell-border table-sm" id="datatable" style="width: 100%;">
        <thead>
            <tr style="background-color: #091E3E; color: whitesmoke;">

                <th>Ser</th>
                <th>Event</th>
                <th>Days</th>
                <th>Mixed</th>
                <th>Female</th>
                <th>Mixed</th>

            </tr>
        </thead>
        <tbody style="color: black;">
            {% for x in myList %}
          
            <tr>
                <td>{{ loop.index }} </td>
                <td>{{ x["Event"] }}</td>
                <td>{{ x["Days"] }}</td>
                <td>{{ x["Mixed"] }}</td>
                <td>{{ x["Female"] }}</td>
                <td>{{ x["Mixed"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
    <div style="height: 20px; margin-bottom: 20px;">
    </div>
</div>

{% endblock %}